<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let article of articles">
      <h3>{{article.title}}</h3>
      <div class="icon">
        <i title=" Edit" class="fas fa-edit" aria-hidden="true" data-toggle="modal"
          data-target="#exampleModalChange"></i><br>
        <i title="Delete" class="fas fa-trash-alt" aria-hidden="true" data-toggle="modal"
          data-target="#exampleModalDelete"></i>
      </div>
      <p>{{article.content}}</p>
      <p><a class="btn btn-primary" href="#" role="button">Details</a></p>
    </div>
  </div>
</div>