.container {
  margin-top: 10vh;
}
.icon {
  float: right;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8vh;
}

.search {
  width: 40vw;
}
.add button {
  width: 12vw;
}