.container {
  margin-top: 3vh;
}

.icon {
  float: right;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8vh;
}

.search {
  width: 40vw;
}

.add button {
  width: 15vw;
}

.background{
  background: rgba(255, 255, 255, 0.5)
}

span {
  float: right;
}

.img img {
  display: block;
  margin: 0 auto;
  width: 73vw;
  height: 60vh;
}

.button {
  font-size: 1.2vw;
  float: right;
}

.article {
  border-radius: 10px;
  padding: 2vh;
  margin: 2vh;
  height: 100vh;
  width: 80vw;
}

.title {
  text-align: center;
  font-size: 1.7vw;
  font-weight: bold;
} 

.content {
  font-size: 1.2vw;
}

.box {
  overflow: hidden;
  height: 15vh;
  width: 75vw;
  line-height: 3vh;
}

.box:before {
  content: "";
  float: left;
  width: 5px;
  height: 15.3vh;
}

.box > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}

.img {
  padding-bottom: 2vh;
}

.box:after {
  content: "\02026";
  box-sizing: content-box;
  float: right;
  position: relative;
  top: -25px;
  left: 100%;
  width: 3em;
  margin-left: -3em;
  padding-right: 5px;
  text-align: right;
  background-size: 100% 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    white 50%,
    white
  );
}
